:root {
    /* Colors */
    --bgColor: #080808;
    --panelBreak: #b945a6e1;
    --panelBreak2: #4965a5;
    --panelWork: #4b7780;
    --textColor: #f0f8ff;
    --modalBg: #b9b7b7;
    /* Effects */
    --transitionTime: 0.3s;
    /* Modal */
    --modalHeight: 30rem;
    --modalWidth: 50rem;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: var(--bgColor);
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
}

.option {
    width: 4rem;
    margin: -1rem 1rem 1rem;
    display: flex;
    justify-content: end;
}

.option svg:hover path{
    stroke: rgb(209, 198, 203);
}

#container {
    width: 100%;
    height: 90vh;
    transition: var(--transitionTime);
    background-color: var(--panelWork);
    position: relative;
}

#timer {
    width: 100%;
    height: 50%;
    top: 5%;
    font-size: 7em;
    font-family: sans-serif;
    color: var(--textColor);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    width: 100%;
    height: auto;
}


button {
    border: 1.2px solid;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 4px;
}

button svg {
    width: 50px;
    transition: var(--transitionTime);
    fill: var(--panelWork);
}

.modal {
    height: var(--modalHeight);
    width: var(--modalWidth);
    max-width: 30rem;
    max-height: 20rem;
    background-color: var(--modalBg);
    position: absolute;
    border-radius: 1.5rem;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 3px 10px rgba(36, 36, 36, 0.678);
}

.modal header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.modal .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-size: 1.3rem;
    height: 80%;
}

.modal input{
    margin-left: 1rem;
    transform: scale(1);
    width: 3rem;
    height: 1.5rem;
    font-size: 1.5rem
}


@media screen and (min-width: 540px) {
    #timer {
        font-size: 10rem;
    }
   /*  .modal {
        width: 100%;
    } */
}

@media screen and (min-height: 400px) {
    .buttons {
        height: 30%;
    }

    #container {
        height: 75vh;
    }

}