:root {
    /* Colors */
    --bgColor: #080808;
    --panelBreak: #ad579fd7;
    --panelBreak2: #647CB3;
    --panelWork: #547980;
    --textColor: #f0f8ff;
    /* Effects */
    --transitionTime: 0.3s;
}

* { margin: 0px; padding: 0px; }

body {
    height: 100vh;
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    height: 80vh;
    transition: var(--transitionTime);
    background-color: var(--panelWork);
    position: relative;
}

#timer {
    width: 100%;
    height: 50%;
    top: 5%;
    font-size: 7em;
    font-family: sans-serif;
    color: var(--textColor);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}


.buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    width: 100%;
    height: 30%;
}

button {
    border: 1.2px solid;  
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: var(--textColor);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px;
}

button svg {
    width: 50px;
    transition: var(--transitionTime);
    fill: var(--panelWork);
}
